.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

.App header {
  padding-bottom: 1em;
}
.App header img {
  border-radius: 50%;
  max-width: 5em;
}

.last-picked-container {
  min-height: 5em;
}

.joke {
  color: silver;
}

.button {
  color: #fff;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3em;
  background-color: transparent;
  padding: 0.6em;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.button:disabled {
  color: gray;
  border-color: gray;
}

.divider {
  width: 80vw;
  height: 1px;
  background-color: gray;
  margin-bottom: 1em;
  margin-top: 1em;
}

.auth-container {
  padding: 2em;
}