.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

.App header {
  padding-bottom: 2em;
}
.App header img {
  border-radius: 50%;
  max-width: 5em;
}

.rocks-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rocks-table div {
  display: flex;
  margin: 0.4em;
  width: 2.3em;
  height: 2.3em;
  border-radius: 50%;
  border-color: gray;
  color: gray;
  border-style: solid;
  border-width: 3px;
  justify-content: center;
  align-items: center;
}

.rocks-table div.active {
  border-color: green;
  color: green;
  font-weight: bold;
}

.rocks-table div.last-active {
  border-color: #E7263F;
  color: #E7263F;
  font-weight: bold;
}

.last-picked-container {
  min-height: 5em;
}

.button {
  color: #fff;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3em;
  background-color: transparent;
  padding: 0.8em;
  font-size: 1em;
  margin-bottom: 1em;
}

.button:disabled {
  color: gray;
  border-color: gray;
}

.divider {
  width: 80vw;
  height: 1px;
  background-color: gray;
  margin-bottom: 1em;
}

.auth-container {
  padding: 2em;
}